html, body{
    height: 100%; 
    width: 100%;
    padding: 0;
    margin: 0;
}

.fon{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 50px; 
    
}

#root{
    /* background-color: yellow;  */
    max-width: 600px;
    min-height: 80%; 
    margin: auto;
    
    /* border: 1px solid grey;  */
    box-shadow: 0 0 30px 5px gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;  
}

.name{
    text-align: center;
    font-size: 25pt;
}

.input{
    background-color:  #F5F5F5;
    text-align: center;
    padding: 5px;
    height: 35px;


}

.input > input{
    width: 100%;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid transparent;
    font-size: 150%;
    
}

.input > input:focus {
    border-bottom: 1px solid black;
}

.list{
    position: relative;  
}


.butDelTask {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border: 0;
    outline: 0;
    cursor: pointer;
    opacity: 0.1;
    transition: 0.2s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./cross24.png);
    background-color: transparent;
}

.list  .butDelTask:hover {
    opacity: 1;
}

.list ul{
    list-style-type: none;
    /* padding-left: 0;    */
    padding-left: 0; 
    margin: 0;  
    
}

.list li{
    border-top: 1px solid grey; 
    position: relative;
    padding: 3px 5px;
}

.filters{
    position: relative;
    /* height: 35px; */
    width: 100%;
    border-top: 1px solid grey; 
    
}

.filters .btn{
    margin: 10px 5px;
    /* position: absolute; */
    /* width: 20px; */
    /* height: 20px; */
    /* top: 50%; */
    /* right: 5px; */
    /* transform: translateY(-50%);     */
    /* border: 0; */
    /* outline: 0; */
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* background-color: transparent; */
}
.filters .btnClear{
    position: absolute;
    right: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
    margin: 10px 5px;
}

.filters button:hover {
    opacity: 1;
}

.textTask{
    display: inline-block;
    /* background-color: green; */
    margin-left: 35px;
    margin-right: 35px;    
    font-size: 20pt;
    height: 100%;
    width: 520px;
    color: black;
    text-align: left;
    word-wrap: break-word; /*Перенос слов */

}

.taskTrue{
    text-decoration:line-through; 
    color: grey;   
}

/* input */

/*подгоняем размер чекбокса/радиокнопки под картинку,
 обнуляем отступы, вешаем поверх всего и скрываем*/ 
.checkTask input[type="checkbox"]{
    width: 24px;
    height: 24px; 
    position: absolute;
    top: -100px;
    left: -100px; 
    /* margin-top: -13px; */
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;

}
/* Освобождаем место под картинку*/
.checkTask input[type="checkbox"] + label {
    /* position: relative; */
    /* padding-left: 45px; */
    /* display: block; */
    cursor: pointer;  
}
/*Вставляем пустой блок с картинкой*/
/*Позиционируем фоновую картинку в зависимости от состояния контролла  */
.checkTask input[type="checkbox"] + label:before {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(spriteChech24.png);
    background-position: -24px 0px;
    /* background-repeat: no-repeat; */
    
    content: " ";
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -12px;
}

.checkTask input[type="checkbox"]:checked + label:before {
    background-position: 0px 0px;
    /* background-repeat: no-repeat; */
}
/* input */



